<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
        {{!-- <img class="portrait" src="/img/simpsons.png" alt="Simpsons pic"> --}}
        <p>How to contact me:</p>

        <li class="li">
            <a href="https://www.facebook.com/federico.delrincon/">Facebook</a>
        </li>
        <li class="li">
            <a href="https://www.instagram.com/fede_dr21/">Instagram</a>
        </li>
        <li class="li">
            <a href="https://github.com/FededelRincon">Github</a>
        </li>
    </div>


    
    {{>footer}}

</body>
</html>