<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>

    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">
        {{>header}}
        <h4>Tools that i use to build the site:</h4>
            <p>Node + express</p>            
            <p>Weatherstack Api</p>
            <p>Mapbox Api</p>
            <p>Patience!</p>    
    </div>

    {{>footer}}
</body>
</html>